<div class="admin-dashboard">
  <h2>Welcome, Admin</h2>

  <div class="dashboard-cards">
    <!-- Create Card with Two Buttons -->
    <div class="card no-hover">
      <div class="card-content">
        <h3>Create New Chit Group</h3>
        <div class="btn-group">
          <button (click)="navigateTo('chits/create')">Create</button>
        </div>
      </div>
    </div>


    <div class="card" (click)="navigateTo('chits/view')">
      <div class="card-content">
        <h3>View All Chit Groups</h3>
        <p>Explore and manage all existing chit groups.</p>
      </div>
    </div>
  </div>
</div>
