.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .card {
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .card:hover {
    background-color: #dbefff;
  }
  